<div class='banner-home'>
  <h1>Location de parking entre particuliers</h1>
    <div class="button-container">
      <%= link_to "Nos parkings disponibles!", "/parkings", class: "btn btn-primary align-text-bottom" %>
    </div>
</div>
