<div class='banner-home'>
  <div class="banner-home-content">
    <h1>Location de parking entre particuliers</h1>
    <div class="button-container">
      <%= link_to "Nos parkings disponibles!", parkings_path, class:" btn-homepage btn btn-primary align-text-bottom" %>
     <%# <input type="file" accept="image/*"/> %>
    </div>
</div>
<div class="container-maps-cities d-none d-sm-block">
  <div class="container-maps-cities-content">
    <h2>Retrouvez nos parkings partout en France !</h2>
   <div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>
  </div>
  <div class="maps-cities"
    data-controller="mapbox-home"
    data-mapbox-home-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
