.container-content-index {
display: flex;
}

.container-parkings {
  width: 60vw;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  margin: 8px;
}
.container-home-parkings {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 64px;
}
