#map {
  position: sticky;
  object-fit: cover;
  top: 0;
  height: 100vh;
  width: 60%;
}

.marker {
  width: 60px;
  height: 22px;
  background-color: teal;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 8px;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 8px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $all-fonts;
}

.mapboxgl-popup-content h2 {
  font-size: 18px;
}
