.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 1;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 157px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  flex-direction: row;
  padding-inline-start: 40px;
  justify-content: end;
  margin-left: 500px;

}

.search-parking {
padding: 0 15px;

  &:active {
    border-bottom: 1px solid var($blue-navy);
  }
}

.rent-parking{
padding: 0 15px;
}

.faq {
  padding: 0 15px;
}
